@import 'styles/_main';

html, body {
  font-family: "Seto", "Uzura", 'Noto Sans TC', 'Noto Sans HK', "Indie Flower";
}

.bwp-body {
  min-height: calc(100vh - 8.035rem)
}

.hover\:bunny {
  background-image: url("./styles/assets/images/popup/img_popup_ear.png");
  background-repeat: no-repeat;
  background-position: center 200%;
  transition: all ease-in-out 300ms;
  
  &:hover {
    background-position: center 100%;
    background-color: $color-green;
  }
}

.actived\:hidden {
  display: block;
}
.actived\:block {
  display: none;
}

.actived {
  .actived\:hidden {
    display: none;
  }
  .actived\:block {
    display: block;
  }
}

$borderImg: url('./styles/assets/images/bg_address_whole.svg');

.default-delivery {
  border-image: $borderImg 10;
  // border-image-repeat: round;
}

.bwp-switch-tabs {
  &.actived {
    span {
      color: $color-white !important;
    }
  }
}

.bwp-green-slick-dots {
  margin: 0;
  padding: 0;
  bottom: 20px;
  > li {
      margin: 0 !important;
      padding: 0 !important;
      height: auto;
      width: auto;

      &.slick-active {
          span {
              background-color: $color-red;
          }
      }
  }
}

.bwp-img-slick-dots {
  margin: 0;
  padding: 0;
  bottom: 0;
  position: relative;
  text-align: left;
  > li {
    height: auto;
    width: auto;
    border: 2px solid rgba(0,0,0,0);
    
    &:first-child {
      margin-left: 0;
    }
    &.slick-active {
      border: 2px solid $color-green;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}