@import '../../styles/_main';

.bwp-slider {
    .slick-dots {
        bottom: 20px;
        margin: 0;
        padding: 0;
    
        > li {
            margin: 0 !important;
            padding: 0 !important;
            height: auto;
            width: auto;
    
            &.slick-active {
                span {
                    background-color: $color-red;
                }
            }
        }
    }
}
